<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <title>Books - Cadastre-se</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <h1>Books</h1>
        </div>
    </header>
    <div class="container">
        <form action="#" method="POST" class="form__register">
            <div class="form__register__input">
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="E-mail">
            </div>
        </form>
    </div>
</body>

</html>