<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <title>Cadastre-se - Books</title>
</head>

<body>
    <div class="container">
        <form action="../../home.php" method="POST" class="form__register">
            <input type="hidden" name="type" value="register">
            <div class="logo">
                <h1>Books</h1>
            </div>
            <h2>Cadastre-se</h2>
            <div class="form__register__input">
                <input name="login" type="text" placeholder="Nome" maxlength="30">
                <input name="email" type="text" placeholder="E-mail" maxlength="50">
                <input name="senha" type="password" placeholder="Senha">
                <input name="conf_senha" type="password" placeholder="Confirmar senha">
            </div>
            <button class="button" name="cadastrar">Criar conta</button>
        </form>
    </div>
</body>

</html>