@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.logo {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
}

.logo h1 {
    color: #E50914;
    margin: 10px 20px;
}

.container {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 15%;
    flex-wrap: wrap;
}

.card__user {
    margin: 10px;
}

.photo__user {
    /* border: 1px solid greenyellow; */
    width: 250px;
    height: 170px;
    border-radius: 5px;
    flex: 1;
}

.name__user h3 {
    color: #fff;
    text-align: center;
    margin-top: 5px;
}


/* MEDIAS QUERIES */
@media(max-width: 540px) {
    .logo h1 {
        margin-top: 20px;
        text-align: center;
    }

    .photo__user {
        width: 300px;
        flex: 1;
    }
}