@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans&family=Poppins&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.logo h1 {
    color: #E50914;
    font-size: 18pt;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__register {
    border-radius: 10px;
    width: 25%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form h2 {
    text-align: center;
    font-size: 13pt;
    margin-top: 15px;
}

.form__register__input input {
    padding: 7px;
    width: 220px;
    outline: none;
    border: 1px solid #d5d5d5;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

.button {
    padding: 8px;
    width: 220px;
    background-color: #003ECB;
    color: #fff;
    font-size: 11pt;
    border: 1px solid #d5d5d5;
    cursor: pointer;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:400px) {
    .logo h1 {
        font-size: 18pt;
    }

    form h2 {
        font-size: 11pt;
        margin-top: 20px;
    }

    .form__register__input input {
        font-size: 11pt;
    }
}